/* header */
.header{
    background:white;
    position:fixed;
    width:100%;
    z-index: 2;
}

.header .wrap{
    /* background:yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.header h1 img{
    width:165px;
}

.header .menuWrap ul{
    display:flex;
    gap:100px;
}

/* visual */
.visual{
 width:100%;
 height:100vh;
 background-color: aquamarine;
}

.visual .swiper{
    width:100%;
    height:100%;
}

.visual .swiper-wrapper .slide{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.visual .swiper-wrapper .img1{
    background-image: url(../img/b_g.jpg);
}

.visual .swiper-wrapper .img2{
    background-image: url(../img/b_g02.jpg);
}

.visual .swiper-wrapper .img3{
    background-image: url(../img/b_g03.jpg);
}

.visual .swiper-wrapper .img4{
    background-image: url(../img/b_g04.jpg);
}

.visual .swiper-wrapper .img5{
    background-image: url(../img/b_g05.jpg);
}

h2.sub:after{
    content: '';
    display: block;
    width:460px;
    height:2px;
    background:white;
    margin-top:60px;
}

.visual .btnWrap{
    display: flex;
    align-items:center;
    width:450px;
    height:100px;
    position: absolute;
    left:320px;
    bottom:240px;
    z-index: 999;
    color:white;
}

.prevbtn{
    order:1;
    margin-right:10px;
}

.nextbtn{
    order:2;
}

.page{
    order:0;
}

.btn{
    cursor:pointer;
}

/* content */
.content01{
    height:300px;
    position:relative;
}

.c1{
    position:absolute;
    transform:translate(0,50%);
}

.p1{
    position: absolute;
    right:0;
    bottom:0;
}

/* cards */
.cardWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:600px;
    margin-top:80px;
}

.t2{
    background: url(../img/arrow.png) no-repeat 30% 55%;
}

.card a{
    display:block;
    width: 384px;
    height: 450px;
    transition: 0.3s;
}

.card a:hover{
    transform:translate(0, -20px);
}

.card img{
    width: 100%;
    height: 100%;
}

.card_body{
    padding:0 15px;
}

.card .card_body .t2{
    margin:16px 0 12px 0;
}

.content02{
    position:relative;
    height:460px;
    margin-top:160px;
    margin-bottom:120px;
}

.content02 .box1{
    width:1114px;
    height: 338px;
    background: #ffd44a;
    position: absolute;
    position:relative;
}

.box1 .t_box{
    position:absolute;
    transform: translate(20%,70%);
}

.t_box .p2{
    margin-top:20px;
}

.content02 .box2{
    position: absolute;
    right:0;
    bottom:0;
}

.content02 .box2{
    width:592px;
    height:360px;
}

.content03{
    width: 100%;
    height:800px;
    background: #ececec;
}

.ct3{
    position:relative;
}

.t3{
    position:absolute;
    left: 0;
    top:80px;
}

ul.bt{
    width:350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right:0;
    top:140px;
}

.cardWrap2{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translate(0, 50%);
}

.card2{
    background:white;
    width:360px;
    height: 446px;
    padding:23px;
    position: relative;
}

.card2 p.text2{
    margin-top: 10px;
}

.card2 p.date{
    position:absolute;
    left:23px;
    bottom:23px;
}
/* footer */
footer{
    width:100%;
    height:292px;
    background: #171717;
}

.f_c{
    position:relative;
}

a.logo2{
    position:absolute;
    left:0;
    top:50px;
}

select{
    width:200px;
    position: absolute;
    right:0;
    top:50px;
    background:#080808;
    color:grey;
    border:none;
    padding:8px 24px;
    /* ▽ 안보이게 하는 법 : appearance: none; */
    appearance: none;
    font-size: 11px;
}

p.address{
    position: absolute;
    top:95px;
    font-size: 11px;
    color:grey;
}

.f_c ul.list{
    width:45%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:195px;
}

ul.list li{
    text-align: center;
    color:grey;
}

ul.list li a{
    color:grey;
    font-size:12px;
    font-weight: 500;
}

ul.flatform{
    width:120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    right:0;
    top:170px;
}

ul.flatform li a{
    display:block;
    width:100%;
    height:100%;
}
