/* header */
.header{
    background:white;
    position:fixed;
    width:100%;
    z-index: 2;
}

.header .wrap{
    /* background:yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.header h1 img{
    width:165px;
}

.header .menuWrap ul{
    display:flex;
    gap:100px;
}

/* visual */
.visual{
    background-color: skyblue;
    height:100vh;
    min-height:700px;
    background-image: url(../img/b_g.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background: url(../img/b_g.jpg) no-repeat center; */
    background-size:cover;
    display: flex;
    align-items: center;
    color:white;
}
/* content */
.content01{
    height:300px;
    position:relative;
}

.c1{
    position:absolute;
    transform:translate(0,50%);
}

.p1{
    position: absolute;
    right:0;
    bottom:0;
}

/* cards */
.cardWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:600px;
    margin-top:80px;
}

.t2{
    background: url(../img/arrow.png) no-repeat 30% 55%;
}

.card a{
    display:block;
    width: 384px;
    height: 450px;
    transition: 0.3s;
}

.card a:hover{
    transform:translate(0, -20px);
}

.card img{
    width: 100%;
    height: 100%;
}

.card_body{
    padding:0 15px;
}

.card .card_body .t2{
    margin:16px 0 12px 0;
}

.content02{
    position:relative;
    height:460px;
    margin-top:160px;
    margin-bottom:120px;
}

.content02 .box1{
    width:1114px;
    height: 338px;
    background: #ffd44a;
    position: absolute;
    position:relative;
}

.box1 .t_box{
    position:absolute;
    transform: translate(20%,70%);
}

.t_box .p2{
    margin-top:20px;
}

.content02 .box2{
    position: absolute;
    right:0;
    bottom:0;
}

.content02 .box2{
    width:592px;
    height:360px;
}

.content03{
    width: 100%;
    height:900px;
    background: #ececec;
}

.ct3{
    position:relative;
}

.t3{
    position:absolute;
    left: 0;
    top:80px;
}

ul.bt{
    width:350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right:0;
    top:140px;
}

.cardWrap2{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translate(0, 50%);
}

.card2{
    background:white;
    width:360px;
    height: 446px;
}

/* footer */